#logo {
    position: relative;
    top: 7px;
    left: -7px;
    display: block;
    height: 21px;
    width: 35px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/1.jpeg);
    border-radius: 50%;
}

#content {
    margin-top: -20px;
    background: #00868B;
    height: 200px;
}

#incontainer {
    margin: 0px auto;
    position: static;
    width: 1024px;
}
